<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developerputra.myfamily">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/p"
        android:label="@string/app_name"
        android:roundIcon="@drawable/p"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Detail"
            android:parentActivityName=".Utama">

        </activity>
        <activity android:name=".Utama"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>